{% trans_default_domain 'FOSUserBundle' %}

<div class="listContainer">

    <h1>Edit profile</h1>

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <table class="form">
        <tr>
            <td>
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.theme) }}
                {{ form_widget(form.theme) }}
            </td>
        </tr>
        <tr>
            <td class="align-center">
                <a class="button no-ajax" href="{{ path('fos_user_profile_show') }}">{{ 'action.back.list'|trans({}, 'messages') }}</a>
                <button type="submit">{{ 'profile.edit.submit'|trans }}</button>
            </td>
        </tr>
    </table>

    {{ form_end(form) }}
</div>
