{% trans_default_domain 'FOSUserBundle' %}

<div class="listContainer">

    <h1>profile</h1>

    <table class="view overflow">
        <tbody>
            <tr>
                <td>
                    {{ 'profile.show.username'|trans }}
                </td>
                <td>
                    {{ user.username }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'profile.show.email'|trans }}
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'profile.theme'|trans({}, 'messages') }}
                </td>
                <td>
                    {{ user.theme }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'profile.language'|trans({}, 'messages') }}
                </td>
                <td>
                    {{ user.language }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'agenda.name.plur'|trans({}, 'messages') }}
                </td>
                <td>
                    {% for agenda in user.agendas %}
                        {{ agenda.name }}
                        {% if not loop.last %}
                        ,
                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="align-center" colspan="2">
                    <a class="button no-ajax" href="{{ path('fos_user_profile_edit') }}">
		                {{ 'action.edit'|trans({}, 'messages') }}
		            </a>
                    <a class="button no-ajax" href="{{ path('agenda') }}">
                        {{ 'action.agenda.edit'|trans({}, 'messages') }}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-center" colspan="2">
                    <a class="button no-ajax" href="{{ path('fos_user_change_password') }}">
                        {{ 'change_password.submit'|trans }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
