{% trans_default_domain 'FOSUserBundle' %}

<div class="listContainer">

    <h1>profile</h1>

    <table class="view overflow">
        <tbody>
            <tr>
                <td>
                    {{ 'profile.show.username'|trans }}
                </td>
                <td>
                    {{ user.username }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'profile.show.email'|trans }}
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <td class="align-center" colspan="2">
                    <a class="button no-ajax" href="{{ path('fos_user_profile_edit') }}">
		                {{ 'action.edit'|trans({}, 'messages') }}
		            </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
