{# src/Lookin2/CalendarBundle/Resources/views/Month/container.html.twig #}

<section id="panel">
<section id="panelCalendarBox">

	<h1>{{ CurrentMonth }}</h1>

	<div id="panelCalendarContent">

		<div id="panelCalendarNav" class="control">
			<table width="100%">
				<tr>
					<td class="today">aujourd'hui</td>
					<td>&lt;&lt;</td>
					<td>&lt;</td>
					<td>&gt;</td>
					<td>&gt;&gt;</td>
				</tr>
			</table>
{# 			<ul>#}
{# 				<li class="text"> décembre 2014 </li>#}
{# 				<li data-ajax="{{ PrevYearUrl }}" title="test">&lt;&lt;</li>#}
{# 				<li data-ajax="{{ PrevMonthUrl }}">&lt;</li>#}
{# 				<li data-ajax="{{ NextMonthUrl }}">&gt;</li>#}
{# 				<li data-ajax="{{ NextYearUrl }}">&gt;&gt;</li>#}
{# 			</ul>#}
		</div>

		<h2>quick navigation</h2>

		<div id="panelCalendar">
			{% include 'Lookin2CalendarBundle:Default:panelCalendar.html.twig' 
				with {
					'days'         : days,
					'PrevYearUrl'  : PrevYearUrl,
					'PrevMonthUrl' : PrevMonthUrl,
					'CurrentMonth' : CurrentMonth,
					'NextMonthUrl' : NextMonthUrl,
					'NextYearUrl'  : NextYearUrl,
				}
			%}
		</div>
	</div>
</section>
</section>

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'Lookin2CalendarBundle:Month:content.html.twig' 
		with {
			'days'         : days,
			'PrevYearUrl'  : PrevYearUrl,
			'PrevMonthUrl' : PrevMonthUrl,
			'CurrentMonth' : CurrentMonth,
			'NextMonthUrl' : NextMonthUrl,
			'NextYearUrl'  : NextYearUrl,
		} 
	%}
</section>
