{# src/Lookin2/CalendarBundle/Resources/views/Month/container.html.twig #}

<section id="panel">
<section id="panelCalendarBox">

	<h1>{{ MonthName }} {{ CurrentYear }}</h1>

	<div id="panelCalendarContent">

		<div id="panelCalendarNav" class="control">
			<table width="100%">
				<tr>
					<td class="today">{% trans %}today{% endtrans %}</td>
					<td class="secondary" data-ajax="{{ MonthPrevYearUrl }}"  title="{% trans %}Previous year{% endtrans %}" class="secondary">&lt;&lt;</td>
					<td                   data-ajax="{{ MonthPrevMonthUrl }}" title="{% trans %}Previous month{% endtrans %}">&lt;</td>
					<td                   data-ajax="{{ MonthNextMonthUrl }}" title="{% trans %}Next month{% endtrans %}">&gt;</td>
					<td class="secondary" data-ajax="{{ MonthNextYearUrl }}"  title="{% trans %}Next year{% endtrans %}" class="secondary">&gt;&gt;</td>
				</tr>
			</table>
		</div>

		<div id="panelCalendarMode" class="control">
			<table width="100%">
				<tr>
					<td title="{% trans %}Month{% endtrans %}">
						{% trans %}Month{% endtrans %}
					</td>
					<td data-ajax="" title="{% trans %}Week{% endtrans %}">
						{% trans %}Week{% endtrans %}
					</td>
					<td data-ajax="{{ ModeDayUrl }}" title="{% trans %}Day{% endtrans %}">
						{% trans %}Day{% endtrans %}
					</td>
				</tr>
			</table>
		</div>


		<h2>quick navigation</h2>

		<div id="panelCalendar">
			{% include 'Lookin2CalendarBundle:Default:panelCalendar.html.twig' %}
		</div>
	</div>
</section>
</section>

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'Lookin2CalendarBundle:Month:content.html.twig' %}
</section>
