{# {% extends '::base.html.twig' %}#}

{% block body -%}
<h1>add an event</h1>
<form id="event_save" action="{{ path('event_create') }}" method="POST" {{ form_enctype(form) }}>
	<table class="form">
		<tr>
			<td>
				{{ form_label(form.title) }}
			</td>
			<td>
				{{ form_widget(form.title) }}
			</td>
		</tr>
		</tr>
		<tr>
			<td>
				{{ form_label(form.startdate) }}
			</td>
			<td>
				{{ form_widget(form.startdate) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_label(form.enddate) }}
			</td>
			<td>
				{{ form_widget(form.enddate) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_label(form.place) }}
			</td>
			<td>
				{{ form_widget(form.place) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_label(form.description) }}
			</td>
			<td>
				{{ form_widget(form.description) }}
			</td>
		<tr>
			<td>
				{{ form_label(form.fullday) }}
			</td>
			<td>
				{{ form_widget(form.fullday) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_label(form.agenda) }}
			</td>
			<td>
				{{ form_widget(form.agenda) }}
			</td>
		</tr>

		<tr>
			<td>
				{{ form_label(form.participants) }}
			</td>
			<td>
				{{ form_widget(form.participants) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_label(form.contacts) }}
			</td>
			<td>
				{{ form_widget(form.contacts) }}
			</td>
		</tr>

		<tr>
			<td colspan="2">
				{{ form_row(form.save) }}
			</td>
		</tr>
		<tr>
			<td>
		{{ form_widget(form._token) }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				
				<a href="{{ path('event') }}">
            		Back to the list
       			</a>
			</td>
		</tr>
{# 		{{ form_rest(form) }}#}
	</table>
	</form>
{# 	</div>#}
{# </div>#}
<script type="text/javascript">

$(function() {

    $( "#timetm_eventbundle_event_contacts" ).on('change focusout', function () {

        // get the selected Contact
        var newContact = $( "#timetm_eventbundle_event_contacts option:selected" ).text();

        // get the content of participants field
		var contacts = $( "#timetm_eventbundle_event_participants").val();

        // if name is already in field do nothing
		var regexp = new RegExp(newContact);
		if ( contacts.match(regexp) ) {
			return;
		}

		if (contacts) {
			contacts += ', '; 
		}
		contacts += newContact;
       	$( "#timetm_eventbundle_event_participants").val(contacts);
    });

})
</script>
{% endblock %}
