<tr>
	<td>{{ form_label(form.lastname) }}</td>
	<td>{{ form_widget(form.lastname) }}</td>
</tr>
<tr>
	<td>{{ form_label(form.firstname) }}</td>
	<td>{{ form_widget(form.firstname) }}</td>
</tr>
<tr>
	<td>{{ form_label(form.email) }}</td>
	<td>{{ form_widget(form.email) }}</td>
</tr>
<tr>
	<td>{{ form_label(form.phone) }}</td>
	<td>{{ form_widget(form.phone) }}</td>
</tr>
