{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ entity.place }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>
                {% if entity.startdate == entity.enddate %}
                	Date
                {% else %}
                	Start date
                {% endif %}
                </th>
                <td>{{ entity.startdate|date('d M Y') }}</td>
            </tr>
            <tr>
                <th>
                {% if entity.startdate == entity.enddate %}
                	Time
                {% else %}
                	Start time
               	{% endif %}
                </th>
                <td>
                	{{ entity.starttime|date('H:i') }}
                {% if not entity.startdate == entity.enddate %}
                </td>
            </tr>
            {% endif %}
            {% if not entity.startdate == entity.enddate %}
            <tr>
                <th>End date</th>
                <td>
                	{{ entity.enddate|date('d M Y') }}
                </td>
            </tr>
            {% endif %}
            {% if entity.startdate == entity.enddate %}
            to
            {% else %}
            <tr>
                <th>End time</th>
                <td>
            {% endif %}

                	{{ entity.endtime|date('H:i') }}

            {% if entity.startdate == entity.enddate %}
                </td>
            {% endif %}
            
            {% if not entity.startdate == entity.enddate %}
            </tr>
            {% endif %}
            <tr>
                <th>Full day</th>
                <td>{{ entity.fullday }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                	{% for participant in entity.participants %}
                	{{ participant.lastname }} 1
                	{% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
