{% trans_default_domain 'FOSUserBundle' %}

<div class="listContainer">

    <h1>{{ 'profile.changepassword'|trans({},'messages') }}</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <table class="form">
        <tr>
            <td>
                {% if form_errors(form.current_password) %}
                    <div class="formError">{{ form_errors(form.current_password) }}</div>
                {% endif %}
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </td>
        </tr>
        <tr>
            <td>
                {% if form_errors(form.plainPassword.first) %}
                    <div class="formError">{{ form_errors(form.plainPassword.first) }}</div>
                {% endif %}
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </td>
        </tr>
        <tr>
            <td>
                {% if form_errors(form.plainPassword.second) %}
                    <div class="formError">{{ form_errors(form.plainPassword.second) }}</div>
                {% endif %}
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </td>
        </tr>
        <tr>
            <td class="align-center">
                <a class="button no-ajax" href="{{ path('fos_user_profile_show') }}">{{ 'action.back.list'|trans({}, 'messages') }}</a>
                <button type="submit">{{ 'change_password.submit'|trans }}</button>
            </td>
        </tr>
    </table>

    {{ form_end(form) }}

</div>
