{# src/TimeTM/CalendarBundle/Resources/views/Week/content.html.twig #}
<table class="outer">
	<tr>
		<td width="5%">
			<table class="innerLabel">
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
{% for time in times %}
				<tr>
					<td>
						{{ time.time }}
					</td>
				</tr>
{% endfor %}
			</table>
		</td>
{% for day in weekDates %}
		<td width="14%">
			<table class="inner" id="calendar">
				<tr>
					<td class="tableCell align-center weekHeader">
						<a class="inner" href="{{ day.url }}"><span>{{ day.daystamp }}</span></a>
					</td>
				</tr>
	{% for time in times %}
				<tr>
					<td data-url="{{ day.datestamp }}/{{ time.url }}">
				    	<div>
		{% for event in day.events %}
{# 			{{ event.starttime|date("G/i") }} / {{ time.url }}#}
			{% if event.starttime|date("G:i") == time.timestamp %}	
							<p>
								<a class="inner" href="{{ path('event_show', {'id': event.id}) }}" title="{{ event.title }} - {{ event.place }}">
									{{ event.title|length > 20 ? event.title[:20] ~ '...': event.title  }}
								</a>
							</p>
			{% endif %}
		{% endfor %}
				    	</div>
					</td>
				</tr>
	{% endfor %}
			</table>
		</td>
{% endfor %}
	<tr>
</table>
