<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title> TimeTM - {% block title %}Dashboard{% endblock %}</title>
  {% block stylesheets %}
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/navigation.js"></script>
</head>
<body class="">
  {% block body %}

  <section id="topBar">
  	{% block topBar %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
    </a>
{% endif%}
	  {% endblock %}
	</section>

	<section id="container">
		{% block mainContent %}

		{% endblock %}
	</section>
	
  {% endblock %}

  {% block javascripts %}{% endblock %}
</body>
</html>
