<!DOCTYPE html>
<html>
<head>
  	<meta charset="UTF-8" />
  	<title> TimeTM - {% block title %}Dashboard{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% block ttm_stylesheets %}
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/common.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/jquery.datetimepicker.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block ttm_javascripts %}
  	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/libs/calendarlib.js"></script>

	<script src="/js/jquery.datetimepicker.js"></script>

  	<script src="/js/navigation.js"></script>
{% endblock %}
</head>
<body class="green">
{% block body %}

  	<section id="ttm_topBar">
  	{% block topBar %}
  	<nav id="topNav">
	  	<ul>
	  		<li style="height : 39px">
	  			<img src="/img/logo.png" height=40px>
	  		</li>
	  		<li>
	  			<a href="{{ path('dashboard') }}">{{ 'nav.dashboard'|trans }}</a>
	  		</li>
	  		<li>
	  			<a href="{{ path('month_no_param') }}">{{ 'nav.calendar'|trans }}</a>
	  		</li>
	  		<li>
	  			<a href="{{ path('contact') }}">{{ 'nav.contacts'|trans }}</a>
	  		</li>
	  		<li>
	  			<a href="{{ path('event') }}">{{ 'nav.events'|trans }}</a>
	  		</li>
	  	</ul>
	</nav>

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div id="auth">
	  	<ul>
	  		<li>
			    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
	  		</li>
	  		<li>
	  			<a href="{{ path('fos_user_security_logout') }}">
			        {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
			    </a>
	  		</li>
	  	</ul>
	</div>
		{% endif%}
	{% endblock %}
	</section>

	{% block calendarContent %}
	<section id="ttm_container">
		{% block mainContent %}

		{% endblock %}
	</section>
	{% endblock %}

{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
