{# src/TimeTM/CalendarBundle/Resources/views/Month/content.html.twig #}

<table id="calendar" class="fixed" data-month>
	<tr>
{% for day in days %}
	{% if (( loop.index < 7 ) and ( day.day > 20 )) or (( loop.index > 20 ) and ( day.day < 7 )) %}
	  	<td class="outOfMonth">
    {% else %}
		<td class="month" data-url="{{ day.datestamp }}">
	{% endif %}
	
			<table class="monthCell">
				<tr>
					<th class="header">
						<a class="inner {% if "now"|date('Y/m/d') == day.datestamp %}today{% endif %}" href="{{ day.url }}"><span>{{ day.day }}</span></a>
					</th>
				</tr>
				<tr>
					<th class="monthCellContent" style="vertical-align : top">
    {% if not day.events is empty %}
    					<div class="monthEventWrapper">
    	{% for event in day.events %}
    						<div class="monthEvent">
								<a class="inner" 
									href="{{ path('event_show', {'id': event.id}) }}" 
									title="{{ event.title }} - {{ event.place }} - {{ event.startdate|date('H:i')}}-{{ event.enddate|date('H:i') }}">
									{{ event.startdate|date("H:i") }} {{ event.title|length > 20 ? event.title[:20] ~ '...': event.title  }}
								</a>
							</div>
    	{% endfor %}
		    			</div>
	{% else %}
					    <div class="monthWrapper"></div>
    {% endif %}
					</th>
				</tr>
			</table>
    
		</td>
    {% if loop.index % 7 == 0 and not loop.last %}
  	</tr><tr>
    {% endif %}
{% endfor %}
	</tr>
</table>
