<section id="ttm_panel">
<section id="panelCalendarBox">

	<div id="dateDisplay">{{ MonthName }} {{ Year }}</div>

	<div id="panelCalendarContent">

		<div id="panelCalendarNav" class="controls">
			<table>
				<tr>
					<td class="today">
						<a href="{{ path('month_no_param') }}">{{ 'nav.today'|trans }}</a>
					</td>
					<td class="secondary">
						<a href="{{ MonthPrevYearUrl }}"  title="{{ 'nav.previous.year'|trans }}" class="secondary">&lt;&lt;</a>
					</td>
					<td>
						<a href="{{ MonthPrevMonthUrl }}" title="{{ 'nav.previous.month'|trans }}">&lt;</a>
					</td>
					<td>
						<a href="{{ MonthNextMonthUrl }}" title="{{ 'nav.next.month'|trans }}">&gt;</a>
					</td>
					<td class="secondary">
						<a href="{{ MonthNextYearUrl }}"  title="{{ 'nav.next.year'|trans }}" class="secondary">&gt;&gt;</a>
					</td>
				</tr>
			</table>
		</div>

		<div id="panelCalendarMode" class="controls">
			<table width="100%">
				<tr>
					<td title="{{ 'nav.month'|trans }}">
						{{ 'nav.month'|trans }}
					</td>
					<td>
						<a href="{{ ModeWeekUrl }}" title="{{ 'nav.week'|trans }}">{{ 'nav.week'|trans }}</a>
					</td>
					<td>
						<a href="{{ ModeDayUrl }}" title="{{ 'nav.day'|trans }}">{{ 'nav.day'|trans }}</a>
					</td>
				</tr>
			</table>
		</div>


		<h2>quick navigation</h2>

		<div id="panelCalendar">
			{% include 'TimeTMCoreBundle:Calendar:Default/panelCalendar.html.twig' %}
		</div>
	</div>
</section>
</section>
