<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">


</head>
<body style="color: white; background-color: white; margin: 0; padding: 0;" bgcolor="white">
<div style="width: 90% !important; margin: auto; padding: 0; border: 1px solid black;">

<table style="width: 100%; border-collapse: collapse; background-color: #009900;" bgcolor="#009900">
	<tr>
		<td colspan="3" style="line-height: 40px; border-collapse: collapse; height: 40px; padding-left: 20px; background-color: #003300; border: 1px solid;" bgcolor="#003300">
			<img src="{{ cid }}" style="float: left; margin-right: 20px; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border: 0 none;" align="left"> {{ 'events.next'|trans }}
		</td>
	</tr>
{% for day in events %}

	<tr>
		<td colspan="3" style="line-height: 30px; border-collapse: collapse; padding-left: 10px; background-color: #006600; border: 1px solid;" bgcolor="#006600">
	{% if loop.index == 1 %}
			{{ 'nav.tomorrow'| trans }}
	{% else %}
			{{ 'nav.aftertomorrow'| trans }}
	{% endif %}

			{{ days[loop.index0]|date("d") }}
			{{ days[loop.index0]|date("F")|trans }}
			{{ days[loop.index0]|date("Y") }}
		</td>
	</tr>

	{% for event in day %}
	<tr>
		<td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
			{{ event.startdate|date("H:i") }} - {{ event.enddate|date("H:i") }}
		</td>
		<td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
			{{ event.title }}
		</td>
		<td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
			{{ event.place }}
		</td>
	</tr>
	{% else %}
	<tr>
		<td colspan="3" style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
			no event
		</td>
	</tr>
	{% endfor %}
{% endfor %}


    <tr>
        <td colspan="3" style="line-height: 30px; border-collapse: collapse; padding-left: 10px; background-color: #006600; border: 1px solid;" bgcolor="#006600">
            {{ 'task.name.plur'|trans|capitalize }}
        </td>
    </tr>
{% for task in tasks %}
    <tr>
        <td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
            {{ task.duedate|date('d') }} {{ ('_' ~ task.duedate|date('M'))|trans }} {{ task.duedate|date('Y') }}
        </td>
        <td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
            {{ task.title }}
        </td>
        <td style="line-height: 30px; border-collapse: collapse; padding-left: 20px; border: 1px solid;">
            {{ task.userassigned }}
        </td>
    </tr>
{% endfor %}

	<tr>
		<td colspan="3" style="line-height: 40px; border-collapse: collapse; height: 40px; padding-left: 20px; background-color: #003300; border: 1px solid;" bgcolor="#003300">
			please do not reply to this email
		</td>
	</tr>
</table>

</div>

</body>
</html>
