{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
<div class="pagination">
    <ul>
        <li class="icon">
            {% if first is defined and current != first %}
                <span class="first">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
                </span>
            {% endif %}
        </li>
        <li class="icon">
            {% if previous is defined %}
                <span class="previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
                </span>
            {% endif %}
        </li>
        <li class="content">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class="page">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </span>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}

            {% endfor %}
        </li>
        <li class="icon">
            {% if next is defined %}
                <span class="next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
                </span>
            {% endif %}
        </li>
        <li class="icon">
            {% if last is defined and current != last %}
                <span class="last">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
                </span>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
