{# src/TimeTM/CalendarBundle/Resources/views/Day/content.html.twig #}

<table id="calendar">
{% for time in times %}
	<tr>
		<td data-url="{{ dayStamp }}/{{ time.timestamp }}">
			{{ time.time }}

			{% for day in day %}
				{% for event in day.events %}
					{% if event.starttime|date("G:i") == time.timestamp %}
				    	<div>
							<p>
								<a class="inner" href="{{ path('event_show', {'id': event.id}) }}" title="{{ event.title }} - {{ event.place }}">
									{{ event.title|length > 20 ? event.title[:20] ~ '...': event.title  }}
								</a>
							</p>
				    	</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			
		</td>
	</tr>
{% endfor %}
</table>
