{# src/TimeTM/CalendarBundle/Resources/views/Day/content.html.twig #}
<table class="fixed">
	<tr>
		{% include 'TimeTMCoreBundle:Calendar:times.html.twig' %}
		<td>
			<table id="calendar" class="fixed" >
				<tr>
					<td class="tableCell align-center weekHeader">
						{{ CurrentDay }}
					</td>
				</tr>
{% for time in times %}
				<tr>
					<td data-url="{{ dayStamp }}/{{ time.url }}" class="event-container">
	{% for day in day %}
		{% for event in day.events %}
			{% if event.startdate|date("G") == time.hour %}
				    	<div class="event" data-duration="{{ event.duration }}" data-startmins="{{ event.startdate|date("i") }}">
								<a class="inner" 
									href="{{ path('event_show', {'id': event.id}) }}" 
									title="{{ event.title }} - {{ event.place }}">
									<span>{{ event.title|length > 20 ? event.title[:20] ~ '...': event.title  }}</span>
							</a>
				    	</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
					</td>
				</tr>
{% endfor %}

			</table>
		</td>
	</tr>
</table>
