<section id="ttm_panel">
<section id="panelCalendarBox">

	<div id="dateDisplay">
        {{ CurrentDay }}
        <span class="hideForBig" title="close"><i class="icon-cancel"></i></span>
    </div>

	<div id="panelCalendarContent">

		<div id="panelCalendarNav" class="controls">
			<table width="100%">
				<tr>
					<td class="today">
						<a href="{{ path('day_no_param') }}">{{ 'nav.today'|trans }}</a>
					</td>
					<td class="tertiary">
						<a href="{{ DayPrevYearUrl }}" title="{{ 'nav.previous.year'|trans }}" >&lt;&lt;&lt;</a>
					</td>
					<td class="secondary">
						<a href="{{ DayPrevMonthUrl }}" title="{{ 'nav.previous.month'|trans }}" >&lt;&lt;</a>
					</td>
					<td>
						<a href="{{ YesterdayUrl }}" title="{{ 'nav.yesterday'|trans }}" >&lt;</a>
					</td>
					<td>
						<a href="{{ TomorrowUrl }}" title="{{ 'nav.tomorrow'|trans }}" >&gt;</a>
					</td>
					<td class="secondary">
						<a href="{{ DayNextMonthUrl }}" title="{{ 'nav.next.month'|trans }}" >&gt;&gt;</a>
					</td>
					<td class="tertiary">
						<a href="{{ DayNextYearUrl }}" title="{{ 'nav.next.year'|trans }}" >&gt;&gt;&gt;</a>
					</td>
				</tr>
			</table>
		</div>

		<div id="panelCalendarMode" class="controls">
			<table width="100%">
				<tr>
					<td>
						<a href="{{ ModeMonthUrl }}" title="{{ 'nav.month'|trans }}">{{ 'nav.month'|trans }}</a>
					</td>
					<td>
						<a href="{{ ModeWeekUrl }}" title="{{ 'nav.week'|trans }}">{{ 'nav.week'|trans }}</a>
					</td>
					<td title="{{ 'nav.day'|trans }}">
						{{ 'nav.day'|trans }}
					</td>
				</tr>
			</table>
		</div>


		<h2>quick navigation</h2>

		<div id="panelCalendar">
			{% include 'TimeTMCoreBundle:Calendar:Default/panelCalendar.html.twig' %}
		</div>

        {{ render(controller('TimeTMCoreBundle:Dashboard:getUserAgendaSwitchForm')) }}

	</div>
</section>
</section>
