{# src/Lookin2/CalendarBundle/Resources/views/Week/container.html.twig #}

<section id="panel">
<section id="panelCalendarBox">

	<h1> {% trans %}Week{% endtrans %} {{ WeekStamp }} </h1>

	<div id="panelCalendarContent">

		<div id="panelCalendarNav" class="control">
			<table width="100%">
				<tr>
					<td class="today">{% trans %}today{% endtrans %}</td>
					<td class="secondary" data-ajax="{{ WeekPrevYearUrl }}"  title="{% trans %}Previous year{% endtrans %}" class="secondary">&lt;&lt;</td>
					<td                   data-ajax="{{ WeekPrevWeekUrl }}" title="{% trans %}Previous week{% endtrans %}">&lt;</td>
					<td                   data-ajax="{{ WeekNextWeekUrl }}" title="{% trans %}Next week{% endtrans %}">&gt;</td>
					<td class="secondary" data-ajax="{{ WeekNextYearUrl }}"  title="{% trans %}Next year{% endtrans %}" class="secondary">&gt;&gt;</td>
				</tr>
			</table>
		</div>

		<div id="panelCalendarMode" class="control">
			<table width="100%">
				<tr>
					<td data-ajax="{{ ModeMonthUrl }}" title="{% trans %}Month{% endtrans %}">{% trans %}Month{% endtrans %}</td>
					<td title="{% trans %}Week{% endtrans %}">{% trans %}Week{% endtrans %}</td>
					<td data-ajax="{{ ModeDayUrl }}"  title="{% trans %}Day{% endtrans %}">{% trans %}Day{% endtrans %}</td>
				</tr>
			</table>
		</div>

		<h2>quick navigation</h2>

		<div id="panelCalendar">
			{% include 'Lookin2CalendarBundle:Default:panelCalendar.html.twig' %}
		</div>
	</div>
</section>
</section>

<section id="content" class="{% block contentClass %}{% endblock %}">
	{% include 'Lookin2CalendarBundle:Week:content.html.twig' %}
</section>
