{% extends '::base.html.twig' %}

{% block title %}

    {% if template == 'index' %}
        {{ 'event.name.plur'|trans|capitalize }}
    {% elseif template == 'new' %}
        {{ 'event.new'|trans|capitalize }}
    {% elseif template == 'show' %}
        {{ 'event.details'|trans|capitalize }}
    {% elseif template == 'edit' %}
        {{ 'event.edit'|trans|capitalize }}
    {% endif %}

{% endblock %}

{% block ttm_stylesheets %}
	{{ parent() }}
	<link href="/css/calendarpanel.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainContent %}
<section id="ttm_calendarContainer">
	{% include 'TimeTMCoreBundle:Event:container.html.twig' %}
</section>
{% endblock %}
