{% extends '::base.html.twig' %}

{% block mainContent -%}
    <h1>Event list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Place</th>
                <th>Description</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Participants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.place }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.startdate %}{{ entity.startdate|date('Y-m-d') }}{% endif %}</td
                <td>{{ entity.fullday }}</td>
                <td>
                	{% for participant in entity.participants %}
                	{{ participant.lastname }}
                	{% endfor %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
