{# {% extends '::base.html.twig' %} #}

{% block mainContent -%}

<div class="listContainer">

    <h1>Event list</h1>

    <table class="overflow">
        <thead>
            <!-- <tr>
                <th>Id</th>
                <th>User</th>
                <th>Title</th>
                <th>Place</th>
                <th>Description</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Participants</th>
                <th>Actions</th>
            </tr> -->
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr data-href="{{ path('event_show', { 'id': entity.id }) }}">
                <td>{{ entity.title }}</td>
                <td>{{ entity.place }}</td>
                <td class="showForMediumTableCell">{{ entity.description }}</td>

                <td class="showForMediumTableCell">
                    {% if entity.startdate|date('d M Y') == entity.enddate|date('d M Y') %}
                            {{ entity.startdate|date('d M Y') }}
                            {{ entity.startdate|date('H:i') }} to {{ entity.enddate|date('H:i') }}
                    {% else %}
                            {{ entity.startdate|date('d M Y H:i') }} to
                            {{ entity.enddate|date('d M Y H:i') }}
                    {% endif %}
                </td>
                <td class="showForMediumTableCell">
                	{% for participant in entity.participants %}
                	{{ participant.lastname }}
                	{% endfor %}
                </td>
            </tr>
        {% endfor %}
        	<tr>
        		<td colspan="9" class="align-center">
        			<a class="button" href="{{ path('event_new') }}">
		                {{ 'action.new'|trans }} {{ 'event'|trans }}
		            </a>
        		</td>
        	</tr>
        </tbody>
    </table>
</div>
    {% endblock %}
