
{% block mainContent -%}
<div class="listContainer">
<h1>add an event</h1>

<div class="form_error"></div>

<form id="event_save" action="{{ path('event_create') }}" method="POST" {{ form_enctype(form) }}>

<div id="form_body">
	<table class="form records_list hcentered">
		<tr>
			<td>
				{{ form_errors(form.title) }}
				{{ form_label(form.title) }}
				{{ form_widget(form.title, { 'attr': { 'placeholder': 'today'|trans} } ) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_widget(form.startdate) }} {{ form_widget(form.starttime) }}
				{{ form_widget(form.endtime) }} {{ form_widget(form.enddate) }} {{ form_widget(form.fullday) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_errors(form.place) }}
				{{ form_label(form.place) }}
				{{ form_widget(form.place) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_errors(form.description) }}
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_widget(form.agenda) }}
			</td>
		</tr>

		<tr>
			<td>
				{{ form_label(form.participants) }}
				{{ form_widget(form.participants) }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form_widget(form.contacts) }}
			</td>
		</tr>
		<tr>
			<td class="align-center">
				{{ form_widget(form.save) }}
				<a class="button" href="{{ path('event') }}">
            		Back to the list
       			</a>
			</td>
		</tr>
{# 		{{ form_rest(form) }}#}
	</table>

{{ form_widget(form._token) }}
</form>
</div>
</div>
<script type="text/javascript">

$(function() {

    $( "#timetm_eventbundle_event_contacts" ).on('change focusout', function () {

        // get the selected Contact
        var newContact = $( "#timetm_eventbundle_event_contacts option:selected" ).text();

        // get the content of participants field
		var contacts = $( "#timetm_eventbundle_event_participants").val();

        // if name is already in field do nothing
		var regexp = new RegExp(newContact);
		if ( contacts.match(regexp) ) {
			return;
		}

		if (contacts) {
			contacts += ', '; 
		}
		contacts += newContact;
       	$( "#timetm_eventbundle_event_participants").val(contacts);
    });

})
</script>
{% endblock %}
