{% extends '::base.html.twig' %}

{% block mainContent -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ entity.place }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>

            {% if entity.startdate|date('d M Y') == entity.enddate|date('d M Y') %}
            <tr>
                <th>Date</th>
                <td>{{ entity.startdate|date('d M Y') }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.startdate|date('H:i') }} to {{ entity.enddate|date('H:i') }}</td>
            </tr>
            {% else %}
            <tr>
                <th>Start date</th>
                <td>{{ entity.startdate|date('d M Y H:i') }}</td>
            </tr>
{#             <tr>#}
{#                 <th>Start time</th>#}
{#                 <td>{{ entity.starttime|date('H:i') }}</td>#}
{#             </tr>#}
            <tr>
                <th>End date</th>
                <td>
                	{{ entity.enddate|date('d M Y H:i') }}
                </td>
            </tr>
{#             <tr>#}
{#                 <th>End time</th>#}
{#                 <td>#}
{#                 	{{ entity.endtime|date('H:i') }}#}
{#                 </td>#}
{#             </tr>#}
            {% endif %}

            <tr>
                <th>Full day</th>
                <td>{{ entity.fullday }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                	{% for participant in entity.participants %}
                	{{ participant.lastname }} 1
                	{% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
