
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'agenda.edit'|trans }}</h1>

    <form id="agenda_save" action="{{ path('agenda_update', {'id': agenda.id}) }}" method="post">
    <input type="hidden" name="_method" value="PUT" />

    <table class="form">
    	<tr>
    		<td>
                {{ form_errors(edit_form.name) }}
                {{ form_label(edit_form.name) }}
    			{{ form_widget(edit_form.name) }}
    		</td>
    	</tr>
    	<tr>
    		<td>
                {{ form_errors(edit_form.description) }}
    			{{ form_label(edit_form.description) }}
    			{{ form_widget(edit_form.description) }}
    		</td>
    	</tr>
        <tr>
            <td>

                {% if form_errors(edit_form.default) %}
                <div class="formError">
                    {{ form_errors(edit_form.default) }}
                </div>
                {% endif %}

                {{ form_label(edit_form.default) }}
                {{ form_widget(edit_form.default) }}
            </td>
        </tr>
    	<tr>
    		<td class="align-center">
    			<a id="eventBackButton" class="button no-ajax" href="{{ path('agenda') }}">
		            {{ buttonText|trans }}
		        </a>
		        {{ form_widget(edit_form.submit) }}
    		</td>
    	</tr>
    </table>
    {{ form_widget(edit_form._token) }}
    </form>
</div>
<script src="/js/event.js"></script>
{% endblock %}
