{% extends '::base.html.twig' %}

{% block mainContent -%}
<div class="listContainer">

    <h1>Agenda edit</h1>

    <form action="{{ path('agenda_update', {'id': entity.id}) }}" method="post">
    <input type="hidden" name="_method" value="PUT" />

    <table class="form">
    	<tr>
    		<td>
                {{ form_label(edit_form.name) }}
    			{{ form_widget(edit_form.name) }}
    		</td>
    	</tr>
    	<tr>
    		<td>
    			{{ form_label(edit_form.description) }}
    			{{ form_widget(edit_form.description) }}
    		</td>
    	</tr>
    	<tr>
    		<td class="align-center">
    			<a class="button no-ajax" href="{{ path('agenda') }}">
		            {{ 'action.back.list'|trans }}
		        </a>
		        {{ form_widget(edit_form.submit) }}
    		</td>
    	</tr>
    </table>
    {{ form_widget(edit_form._token) }}
    </form>
</div>
{% endblock %}
