
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'agenda.list'|trans }}</h1>

    <table class="view">
        <tbody>
        {% for agenda in agendas %}
            <tr class="" data-href="{{ path('agenda_show', { 'id': agenda.id }) }}">
                <td>

                    {% if agenda.default %}
                        -
                    {% endif %}

                    {{ agenda.name }}
                </td>
                <td>{{ agenda.description }}</td>
            </tr>
        {% endfor %}
        	<tr>
        		<td colspan="5" class="align-center">
        			<a class="button" href="{{ path('agenda_new') }}">
		                {{ 'agenda.new'|trans }}
		            </a>
        		</td>
        	</tr>
        </tbody>
    </table>
</div>
{% endblock %}
