{% extends '::base.html.twig' %}

{% block mainContent -%}

<div class="listContainer">

    <h1>Agenda list</h1>

    <table class="view">
        <tbody>
        {% for entity in entities %}
            <tr class="no-ajax" data-href="{{ path('agenda_show', { 'id': entity.id }) }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        	<tr>
        		<td colspan="5" class="align-center">
        			<a class="button no-ajax" href="{{ path('agenda_new') }}">
		                {{ 'action.new'|trans }} {{ 'agenda'|trans }}
		            </a>
        		</td>
        	</tr>
        </tbody>
    </table>
</div>
{% endblock %}
