
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'action.new-Fr-masc'|trans }} {{ 'agenda.name.sing'|trans }}</h1>

    <form id="agenda_save" action="{{ path('agenda_create') }}" method="POST">

    <table class="form">
    	<tr>
    		<td>
    			{{ form_label(form.name) }}
    			{{ form_widget(form.name) }}
    		</td>
    	</tr>
    	<tr>
    		<td>
    			{{ form_label(form.description) }}
    			{{ form_widget(form.description) }}
    		</td>
    	</tr>
        <tr>
    		<td>
    			{{ form_label(form.default) }}
    			{{ form_widget(form.default) }}
    		</td>
    	</tr>
    	<tr>
    		<td colspan="2" class="align-center">
    			<a id="eventBackButton" class="button no-ajax" href="{{ path('agenda') }}">
		            {{ buttonText |trans }}
		        </a>
		        {{ form_widget(form.submit) }}
    		</td>
    	</tr>
    </table>
    {{ form_widget(form._token) }}
    </form>
</div>
{% endblock %}
