{% extends '::base.html.twig' %}

{% block mainContent -%}
<div class="listContainer">
    <h1>Agenda</h1>

    <table class="records_list">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <td colspan="2" class="align-center">
					<a class="button" href="{{ path('agenda') }}">
					    {{ 'action.back.list'|trans }}
					</a>
					<a class="button" href="{{ path('agenda_edit', { 'id': entity.id }) }}">
					    {{ 'action.edit'|trans }}
					</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
