{% extends '::base.html.twig' %}

{% block mainContent -%}

<div class="listContainer">

    <h1>agenda details</h1>

    <table class="view">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <td colspan="2" class="align-center">
					<a class="button no-ajax" href="{{ path('agenda') }}">
					    {{ 'action.back.list'|trans }}
					</a>
					<a class="button no-ajax" href="{{ path('agenda_edit', { 'id': entity.id }) }}">
					    {{ 'action.edit'|trans }}
					</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
