{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

<div id="login">
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<ul>
{# 			<li>#}
{# 				<label for="username">{{ 'security.login.username'|trans }}</label>#}
{# 			</li>#}
			<li>
				<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" required="required" />
			</li>
{# 			<li>#}
{# 				<label for="password">{{ 'security.login.password'|trans }}</label>#}
{# 			</li>#}
			<li>
				<input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />
			</li>
			<li>	
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
			</li>
			<li>
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			</li>
			
		</ul>
	</form>

</div>
{# <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>#}

{% endblock fos_user_content %}
