{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

<div id="login">
	<div class="tableCell">
{% if error %}
    	<div class="errorMsg"><div class="errorMsgWrapper">{{ 'login.error'|trans([], 'messages') }}</div></div>
{% endif %}

		<form action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<ul>
				<li class="loginLogo">
					
				</li>
				<li>
					<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" required="required" />
				</li>
				<li>
					<input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />
				</li>
				<li>	
					<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
				</li>
				<li>
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				</li>
			</ul>
		</form>
	</div>
</div>
{# <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>#}

{% endblock fos_user_content %}
