{% extends '::base.html.twig' %}

{% block mainContent -%}
<div class="listContainer">

    <h1>Contact edit</h1>

    <form action="{{ path('contact_update', {'id': entity.id}) }}" method="POST" {{ form_enctype(edit_form) }}>
    <table>
    	<tr>
    		<td>
    			{{ form_label(edit_form.lastname) }}
    		</td>
    		<td>
    			{{ form_widget(edit_form.lastname) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(edit_form.firstname) }}
    		</td>
    		<td>
    			{{ form_widget(edit_form.firstname) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(edit_form.email) }}
    		</td>
    		<td>
    			{{ form_widget(edit_form.email) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(edit_form.phone) }}
    		</td>
    		<td>
    			{{ form_widget(edit_form.phone) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(edit_form.company) }}
    		</td>
    		<td>
    			{{ form_widget(edit_form.company) }}
    		</td>
    	</tr>
		<tr>
    		<td colspan="2" class="center">
    			<a href="{{ path('contact') }}">
		            Back to the list
		        </a>
    		</td>
    	</tr>
		
    </table>
    {{ form_widget(edit_form._token) }}
    </form>
{#     <table>#}
{#     	<tr>#}
{#     		<td>#}
{#     			{{ form(delete_form) }}#}
{#     		</td>#}
{#     	</tr>#}
{#     </table>#}
</div>
{% endblock %}
