
{% block mainContent -%}

<div class="listContainer">
    <form id="contact_save" action="{{ path('contact_update', {'id': contact.id}) }}" method="POST">
        <input type="hidden" name="_method" value="PUT" />

        <h1>{{ 'contact.edit'|trans }}</h1>

        <table class="form">
            {% if msg is defined %}
            <tr>
                <td colspan="">
                    {{ msg }}
                </td>
            </tr>
            {% endif %}
        	<tr>
        		<td>
                    {% if form_errors(edit_form.lastname) %}
                        <div class="formError">{{ form_errors(edit_form.lastname) }}</div>
                    {% endif %}
        			{{ form_label(edit_form.lastname) }}
        			{{ form_widget(edit_form.lastname) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.firstname) }}
        			{{ form_widget(edit_form.firstname) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.email) }}
        			{{ form_widget(edit_form.email) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.phone) }}
        			{{ form_widget(edit_form.phone) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
    	    		<div class="floatWrapper">
    	    			<div class="float2">
    		    			{{ form_label(edit_form.company) }}
    		    			{{ form_widget(edit_form.company) }}
    		    		</div>
    	    			<div class="float2">
    		    			{{ form_label(edit_form.client) }}
    		    			{{ form_widget(edit_form.client) }}
    		    		</div>
    		    	</div>
        		</td>
        	</tr>
        	<tr>
                <td class="align-center">
    				<a id="eventBackButton" class="button" href="{{ path('contact') }}">{{ buttonText |trans }}</a>
    				{{ form_widget(edit_form.save, { 'label' : 'action.update'}) }}
    			</td>
        	</tr>
        </table>
        {{ form_widget(edit_form._token) }}
    </form>
</div>
{% endblock %}
