
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'contact.list'|trans }} ( {{ entities.getPaginationData.firstItemNumber }}-{{ entities.getPaginationData.lastItemNumber }} / {{ entities.getTotalItemCount }} )</h1>

    <table id="contactList" class="overflow">
         <thead>
             <tr class="tableHeader">
             {# sorting of properties based on query components #}
                <th class="row-contact-name {% if entities.isSorted('c.name') %} sorted{% endif %}">{{ knp_pagination_sortable(entities, 'name', ['c.lastname', 'c.firstname']) }}</th>
                <th class="row-contact-email {% if entities.isSorted('c.email') %} sorted{% endif %}">{{ knp_pagination_sortable(entities, 'email', 'c.email') }}</th>
                <th class="row-contact-phone showForMediumTableCell {% if entities.isSorted('c.phone') %}sorted{% endif %}">{{ knp_pagination_sortable(entities, 'phone', 'c.phone') }}</th>
                <th class="row-contact-company showForMediumTableCell {% if entities.isSorted('c.phone') %}sorted{% endif %}">{{ knp_pagination_sortable(entities, 'company', 'c.company') }}</th>
                <th class="row-contact-client showForMediumTableCell {% if entities.isSorted('c.phone') %}sorted{% endif %}">{{ knp_pagination_sortable(entities, 'client', 'c.client') }}</th>
             </tr>
         </thead>
        {% for entity in entities %}
            <tr data-href="{{ path('contact_show', { 'id': entity.id }) }}">
                <td>
                    {{ entity.lastname }}
                    {{ entity.firstname }}
                </td>
                <td>{{ entity.email }}</td>
                <td class="showForMediumTableCell">{{ entity.phone }}</td>
                <td class="showForMediumTableCell">
                    {% if entity.isCompany %}
                    	yes
                    {% endif %}
                </td>
                <td class="showForMediumTableCell">
                    {% if entity.isClient %}
                    	yes
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if knp_pagination_render(entities) %}
            <tr>
                <td colspan="5" class="align-center">
                    <div id="paginationContainer">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </td>
            </tr>
        {% endif %}
        	<tr>
        		<td colspan="5" class="align-center">
        			<a class="button" href="{{ path('contact_new') }}">
		                {{ 'action.new'|trans }} {{ 'contact.name.sing'|trans }}
		            </a>
        		</td>
        	</tr>
        </tbody>
    </table>
</div>
{% endblock %}
