
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'contact.list'|trans }}</h1>

    <div class="count">
        {{ entities.getTotalItemCount }}
    </div>

    <table class="overflow contactList">
{#         <thead>#}
{#             <tr>#}
{#                 <th>Id</th>#}
{#                 <th>Lastname</th>#}
{#                 <th>Firstname</th>#}
{#                 <th>Email</th>#}
{#                 <th>Phone</th>#}
{#                 <th>Iscompany</th>#}
{#                 <th>Actions</th>#}
{#             </tr>#}
{#         </thead>#}
        <tbody>
        {% for entity in entities %}
            <tr data-href="{{ path('contact_show', { 'id': entity.id }) }}">
{#                 <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>
                    {{ entity.lastname }}
                    {{ entity.firstname }}
                </td>
                <td class="">{{ entity.email }}</td>
                <td class="showForMediumTableCell">{{ entity.phone }}</td>
                <td class="showForMediumTableCell">
                    {% if entity.isCompany %}
                    	company
                    {% endif %}
                </td>
                <td class="showForMediumTableCell">
                    {% if entity.isClient %}
                    	client
                    {% endif %}
                </td>

{#                 <td>#}
{#                 <ul>#}
{#                     <li>#}
{#                         <a href="{{ path('contact_show', { 'id': entity.id }) }}">show</a>#}
{#                     </li>#}
{#                     <li>#}
{#                         <a href="{{ path('contact_edit', { 'id': entity.id }) }}">edit</a>#}
{#                     </li>#}
{#                 </ul>#}
{#                 </td>#}
            </tr>
        {% endfor %}
        	<tr>
        		<td colspan="6" class="align-center">
        			<a class="button" href="{{ path('contact_new') }}">
		                {{ 'action.new'|trans }} {{ 'contact.name.sing'|trans }}
		            </a>
        		</td>
        	</tr>
        </tbody>
    </table>
    <div class="navigation" style="text-align : center">
        {{ knp_pagination_render(entities) }}
    </div>
</div>
{% endblock %}
