{# NEW CONTACT #}

{% block mainContent -%}

<div class="listContainer">
    <form id="contact_save" action="{{ path('contact_create') }}" method="POST">

    <h1>add a contact</h1>

    <table class="form">
    	{% if msg is defined %}
    	<tr>
    		<td colspan="">
				{{ msg }}
    		</td>
    	</tr>
    	{% endif %}
    	<tr>
    		<td>
    			{{ form_label(form.lastname) }}
    			{{ form_widget(form.lastname) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(form.firstname) }}
    			{{ form_widget(form.firstname) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(form.email) }}
    			{{ form_widget(form.email) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			{{ form_label(form.phone) }}
    			{{ form_widget(form.phone) }}
    		</td>
    	</tr>
		<tr>
    		<td>
    			<div class="floatWrapper">
	    			<div class="float2">
		    			{{ form_label(form.company) }}
		    			{{ form_widget(form.company) }}
	    			</div>
					<div class="float2">
		    			{{ form_label(form.client) }}
		    			{{ form_widget(form.client) }}
	    			</div>
	    		</div>
    		</td>
    	</tr>
    	<tr>
    		<td colspan="" class="align-center">
                <a id="eventBackButton" class="button" href="{{ path('event') }}">
                    {{ buttonText |trans }}
                </a>
                {{ form_widget(form.save, { 'label' : 'action.save'}) }}
    		</td>
    	</tr>
    </table>
    {{ form_widget(form._token) }}
    </form>
</div>
{% endblock %}
