{% extends '::base.html.twig' %}

{% block mainContent -%}
<div class="listContainer">

    <h1>contact details</h1>

    <table class="hcentered">
        <tbody>
            <tr>
                <td>
                    <label>Lastname</label>
                    <span>{{ entity.lastname }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Firstname</label>
                    <span>{{ entity.firstname }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email</label>
                    <span>{{ entity.email }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone</label>
                    <span>{{ entity.phone }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Company</label>
                    <span>
                        {% if entity.isCompany %}
                        	yes
                        {% else %}
                            no
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Client</label>
                    <span>
                        {% if entity.isClient %}
                        	yes
                        {% else %}
                            no
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="align-center">
					<a class="button" href="{{ path('contact') }}">
					    {{ 'action.back.list'|trans }}
					</a>
					<a class="button" href="{{ path('contact_edit', { 'id': entity.id }) }}">
					    {{ 'action.edit'|trans }}
					</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>
{% endblock %}
