
{% block mainContent -%}
<div class="listContainer">

    <h1>contact details</h1>

    <table class="view overflow">
        <tbody>
            <tr>
                <td>
                    Lastname
                </td>
                <td>
                    {{ entity.lastname }}
                </td>
            </tr>
            <tr>
                <td>
                    Firstname
                </td>
                <td>
                    {{ entity.firstname }}
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    {{ entity.email }}
                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    {{ entity.phone }}
                </td>
            </tr>
            <tr>
                <td>
                    Company
                </td>
                <td>
                    {% if entity.isCompany %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Client
                </td>
                <td>
                    {% if entity.isClient %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="align-center" colspan="2">
					<a class="button" href="{{ path('contact') }}">
					    {{ 'action.back.list'|trans }}
					</a>
					<a class="button" href="{{ path('contact_edit', { 'id': entity.id }) }}">
					    {{ 'action.edit'|trans }}
					</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>
{% endblock %}
