
{% block mainContent -%}

<div class="listContainer">
    <form id="task_save_form" action="{{ path('task_edit', {'id': task.id}) }}" method="POST">

        <h1>{{ 'task.edit'|trans }}</h1>

        <table class="form">
        	<tr>
        		<td>
                    {% if form_errors(edit_form.title) %}
                        <div class="formError">{{ form_errors(edit_form.title) }}</div>
                    {% endif %}
        			{{ form_label(edit_form.title) }}
        			{{ form_widget(edit_form.title) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.duedate) }}
        			{{ form_widget(edit_form.duedate) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.userassigned) }}
        			{{ form_widget(edit_form.userassigned) }}
        		</td>
        	</tr>
    		<tr>
        		<td>
        			{{ form_label(edit_form.repetition) }}
        			{{ form_widget(edit_form.repetition) }}
        		</td>
        	</tr>
            <tr>
                <td class="align-center">
    				<a id="eventBackButton" class="button" href="{{ path('task') }}">{{ buttonText |trans }}</a>
    				{{ form_widget(edit_form.save, { 'label' : 'action.update'}) }}
    			</td>
        	</tr>
        </table>
        {{ form_widget(edit_form._token) }}
    </form>
</div>
{% endblock %}
