
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'task.list'|trans }} ( {{ tasks.getPaginationData.firstItemNumber }}-{{ tasks.getPaginationData.lastItemNumber }} / {{ tasks.getTotalItemCount }} )</h1>

    <table id="paginatedList" class="overflow">
        <thead>
            <tr class="tableHeader">
                {# sorting of properties based on query components #}
                <th class="row-task-title {% if tasks.isSorted('t.title') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(tasks, 'task.title.label'|trans, 't.title') }}
                </th>
                <th class="row-task-user showForMediumTableCell {% if tasks.isSorted('u.username') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(tasks, 'task.user'|trans, 'u.username') }}
                </th>
                <th class="row-task-repetition showForMediumTableCell">
                    {{ 'task.repetition'|trans }}
                </th>
                <th class="row-task-duedate {% if tasks.isSorted('t.title') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(tasks, 'task.duedate'|trans, 't.duedate') }}
                </th>
                <th class="row-task-done showForMediumTableCell"></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr data-href="{{ path('task_show', { 'id': task.id }) }}">
                <!-- <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td> -->
                <td>{{ task.title }}</td>
                <td class="showForMediumTableCell">{{ task.userassigned }}</td>
                <td class="showForMediumTableCell">{{ task.repetition }}</td>
                <td>{% if task.duedate %}{{ task.duedate|date('d/m/Y') }}{% endif %}</td>
                <td class="showForMediumTableCell">
                    {% if not task.donedate %}
                        {#<a class="button polo" href="{{ path('task_done', { 'id': task.id }) }}">done</a>#}
                        <form class="" action="{{ path('task_done', { 'id': task.id }) }}" method="post">
                            <button class="button polo">done</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if knp_pagination_render(tasks) %}
            <tr>
                <td colspan="5" class="align-center">
                    <div id="paginationContainer">
                        {{ knp_pagination_render(tasks) }}
                    </div>
                </td>
            </tr>
        {% endif %}
            <tr>
                <td colspan="5" class="align-center">
                    <a class="button" href="{{ path('task_new') }}">
                        {{ 'task.new'|trans }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
