
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'task.list'|trans }}</h1>

    <table class="overflow contactList">
        <thead>
            <tr class="tableHeader">
                <th>{{ 'task.title.label'|trans }}</th>
                <th>{{ 'task.duedate'|trans }}</th>
                <th class="titleCell showForMediumTableCell">{{ 'task.user'|trans }}</th>
                <th class="titleCell showForMediumTableCell">{{ 'task.repetition'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr data-href="{{ path('task_show', { 'id': task.id }) }}">
                <!-- <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td> -->
                <td class="titleCell">{{ task.title }}</td>
                <td class="titleCell">{% if task.duedate %}{{ task.duedate|date('d/m/Y') }}{% endif %}</td>
                <td class="titleCell showForMediumTableCell">{{ task.userassigned }}</td>
                <td class="titleCell showForMediumTableCell">{{ task.repetition }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <td colspan="5" class="align-center">
                <a class="button" href="{{ path('task_new') }}">
                    {{ 'task.new'|trans }}
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
