
{% block mainContent -%}

<div class="listContainer">

    <h1>Task list</h1>

    <table>
        <thead>
            <tr class="tableHeader">
                <th>Title</th>
                <th>Duedate</th>
                <th>User</th>
                <th>Repetition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <!-- <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td> -->
                <td>{{ task.title }}</td>
                <td>{% if task.duedate %}{{ task.duedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.userassigned }}</td>
                <td>{{ task.repetition }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <td colspan="5" class="align-center">
                <a class="button" href="{{ path('task_new') }}">
                    {{ 'action.new'|trans }} {{ 'contact.name.sing'|trans }}
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
