
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'task.list'|trans }}</h1>

    <table class="overflow" style="border : 1px solid red; table-layout: fixed;">
        <thead>
            <tr class="tableHeader">
                <th class="row-task-title">{{ 'task.title.label'|trans }}</th>
                <th class="row-task-user showForMediumTableCell">{{ 'task.user'|trans }}</th>
                <th class="row-task-repetition showForMediumTableCell">{{ 'task.repetition'|trans }}</th>
                <th class="row-task-duedate">{{ 'task.duedate'|trans }}</th>
                <th class="row-task-done showForMediumTableCell">

                </th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr data-href="{{ path('task_show', { 'id': task.id }) }}">
                <!-- <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td> -->
                <td>{{ task.title }}</td>
                <td class="showForMediumTableCell">{{ task.userassigned }}</td>
                <td class="showForMediumTableCell">{{ task.repetition }}</td>
                <td>{% if task.duedate %}{{ task.duedate|date('d/m/Y') }}{% endif %}</td>
                <td class="showForMediumTableCell">
                    {% if not task.donedate %}
                        {#<a class="button polo" href="{{ path('task_done', { 'id': task.id }) }}">done</a>#}
                        <form class="" action="{{ path('task_done', { 'id': task.id }) }}" method="post">
                            <button class="button polo">done</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <td colspan="5" class="align-center">
                <a class="button" href="{{ path('task_new') }}">
                    {{ 'task.new'|trans }}
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
