
{% block mainContent -%}

<div class="listContainer">

    <h1>{{ 'task.details'|trans }}</h1>

    <table class="view overflow">
        <tbody>
            <tr>
                <td>{{ 'task.title.label'|trans }}</td>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <td>{{ 'task.duedate'|trans }}</td>
                <td>{% if task.duedate %}{{ task.duedate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <td>{{ 'task.user'|trans }}</td>
                <td>{{ task.userassigned }}</td>
            </tr>
            <tr>
                <td>{{ 'task.repetition'|trans }}</td>
                <td>
                    {% if task.repetition is null %}
                        {{ 'none.fem'|trans }}
                    {% else %}
                        {{ task.repetition }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="align-center" colspan="2">
                    <a id="eventBackButton" class="button" href="{{ path('task') }}">{{ buttonText |trans }}</a>
                    <a class="button actionButton" href="{{ path('task_edit', { 'id': task.id }) }}">
                        {{ 'action.edit'|trans }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
