{# src/Lookin2/CalendarBundle/Resources/views/Default/panelCalendar.html.twig #}

<div id="panelCalendarQuickNav" class="control">
	<ul>
		<li data-ajax="{{ MonthPrevYearUrl }}">&lt;&lt;</li>
		<li data-ajax="{{ MonthPrevMonthUrl }}">&lt;</li>
		<li class="text"> {{ CurrentMonthName | trans }} </li>
		<li data-ajax="{{ MonthNextMonthUrl }}">&gt;</li>
		<li data-ajax="{{ MonthNextYearUrl }}">&gt;&gt;</li>
	</ul>
</div>

<table id="PanelMonthCal">
	<tr>
	{% for day in days %}
		{% if (( loop.index < 7 ) and ( day.day > 20 )) or (( loop.index > 20 ) and ( day.day < 7 )) %}
	  	<td class="outOfMonth">
	  {% else %}
			<td data-ajax="{{ day.url }}">	  	
	  {% endif %}
	  {{ day.day }}
	  </td>
	  {% if loop.index % 7 == 0 and not loop.last %}
	  	</tr><tr>
	  {% endif %}
	{% endfor %}
	</tr>
</table>
