{# src/Lookin2/CalendarBundle/Resources/views/Default/panelCalendar.html.twig #}

<div id="panelCalendarQuickNav" class="control">
	<table>
		<tr>
			<td class="secondary">
				<a href="{{ MonthPrevYearUrl }}"  title="{% trans %}Previous year{% endtrans %}">&lt;&lt;</a>
			</td>
			<td>
				<a href="{{ MonthPrevMonthUrl }}" title="{% trans %}Previous month{% endtrans %}">&lt;</a>
			</td>
			<td>
				{{ MonthName | trans }}
			</td>
			<td>
				<a href="{{ MonthNextMonthUrl }}" title="{% trans %}Next month{% endtrans %}">&gt;</a>
			</td>
			<td class="secondary">
				<a href="{{ MonthNextYearUrl }}"  title="{% trans %}Next year{% endtrans %}">&gt;&gt;</a>
			</td>
		</tr>
	</table>
</div>

<table id="PanelMonthCal">
	<tr>
	{% for day in days %}
		{% if (( loop.index < 7 ) and ( day.day > 20 )) or (( loop.index > 20 ) and ( day.day < 7 )) %}
	  	<td class="outOfMonth">
	  	{% else %}
		<td>	
	  	{% endif %}
	  		<a href="{{ day.url }}">{{ day.day }}</a>
	  	</td>
	  	{% if loop.index % 7 == 0 and not loop.last %}
	</tr><tr>
		{% endif %}
	{% endfor %}
	</tr>
</table>
