{# src/TimeTM/CalendarBundle/Resources/views/Default/panelCalendar.html.twig #}

<div id="panelCalendarQuickNav" class="control">
	<table>
		<tr>
			<td class="secondary">
				<a href="{{ MonthPrevYearUrl }}"  title="{{ 'nav.previous.year'|trans }}">&lt;&lt;</a>
			</td>
			<td>
				<a href="{{ MonthPrevMonthUrl }}" title="{{ 'nav.previous.month'|trans }}">&lt;</a>
			</td>
			<td>
				{{ MonthName }} {{ Year }}
			</td>
			<td>
				<a href="{{ MonthNextMonthUrl }}" title="{{ 'nav.next.month'|trans }}">&gt;</a>
			</td>
			<td class="secondary">
				<a href="{{ MonthNextYearUrl }}"  title="{{ 'nav.next.year'|trans }}">&gt;&gt;</a>
			</td>
		</tr>
	</table>
</div>

<table id="PanelMonthCal">
	<tr>
{% for day in days %}
	{% if (( loop.index < 7 ) and ( day.day > 20 )) or (( loop.index > 20 ) and ( day.day < 7 )) %}
	  	<td class="outOfMonth">
  	{% else %}
		<td>	
  	{% endif %}
	  		<a href="{{ day.url }}">{{ day.day }}</a>
	  	</td>
  	{% if loop.index % 7 == 0 and not loop.last %}
	</tr><tr>
	{% endif %}
{% endfor %}
	</tr>
</table>
