{# src/TimeTM/CalendarBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block ttm_stylesheets %}
	{{ parent() }}
	<link href="/css/calendarpanel.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainContent %}

{% include 'TimeTMCoreBundle:Calendar:Month/monthPanel.html.twig' %}

<section id="contentWithPanel" class="">
<div class="listContainer">
<table>
{% for day in events %}

	<tr>
		<td class="dayHeader" colspan="3">
	{% if loop.index == 1 %}
			{{ 'nav.tomorrow'| trans }} 
	{% else %}
			{{ 'nav.aftertomorrow'| trans }} 
	{% endif %}

			{{ eventdays[loop.index0]|date("d") }}
			{{ eventdays[loop.index0]|date("F")|trans }}
			{{ eventdays[loop.index0]|date("Y") }}
		</td>
	</tr>

	{% for event in day %}
	<tr>
		<td>
			{{ event.starttime|date("H:i") }} - {{ event.endtime|date("H:i") }}
		</td>
		<td>
			{{ event.title }}
		</td>
		<td>
			{{ event.place }}
		</td>
	</tr>
	{% else %}
	<tr>
		<td colspan="3">
			no event
		</td>
	</tr>
	{% endfor %}

{% endfor %}
</table>
</section>


{% endblock %}
