
{% block mainContent -%}

<div class="listContainer dashboardList">

    {% for day in events %}

    <h1 class="dayHeader">
        {% if loop.index == 1 %}
    			{{ 'nav.today'| trans }}
    	{% else %}
    			{{ 'nav.tomorrow'| trans }}
    	{% endif %}

		{{ eventdays[loop.index0]|date("d") }}
		{{ eventdays[loop.index0]|date("F")|trans }}
		{{ eventdays[loop.index0]|date("Y") }}
    </h1>

    <table class="overflow">
    	{% for event in day %}
    	<tr data-href="{{ path('event_show', { 'id': event.id }) }}">
    		<td class="row-dashboard-date">
    			{{ event.startdate|date("H:i") }} - {{ event.enddate|date("H:i") }}
    		</td>
            <td class="row-dashboard-agenda showForMediumTableCell">
    			{{ event.agenda }}
    		</td>
    		<td class="row-dashboard-title">
    			{{ event.title }}
    		</td>
            <td class="row-dashboard-client showForBigTableCell">
    			{{ event.client }}
    		</td>
    		<td class="row-dashboard-place showForMediumTableCell">
    			{{ event.place }}
    		</td>
            <td class="row-dashboard-description showForMediumTableCell">
    			{{ event.description }}
    		</td>
            <td class="row-dashboard-participants showForBigTableCell">
                {% for participant in event.participants %}
                    {% if loop.last %}
                        {{ participant.lastname }}
                    {% else %}
                        {{ participant.lastname }},
                    {% endif %}
            	{% endfor %}
    		</td>
    	</tr>
    	{% else %}
    	<tr>
    		<td colspan="5">
    			no event
    		</td>
    	</tr>
    	{% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
